@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none; 
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

:root{
    --text-color :white;
    --main-color :#000000;
    --secondary-color : #abacb0;
    --tertiary-color: #f7f7f7;
    --background-color : white;
    --accent-color : #6e728c;
    --lighter-accent:#455a64;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-color: var(--main-color);
    
}

body{
    background: var(--background-color);
    color: var(--background-color);
}

section{
    min-height: 100vh;
    padding:  15rem 9% 5rem;
}
.header{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    padding: 4rem 9%;
    background-color:var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: fit-content;
}



.logo{
    color: var(--main-color);
    cursor: default;
}
.navbar a{
    font-size:2rem;
    font-weight: 400;
    color: var(--main-color);
    margin-left: 6rem;
    transition: 0.5s;

}
.navbar a:hover,
.navbar a.active {
    color: var(--lighter-accent);
}

#menu-icon {
    font-size:5rem;
    color: var(--main-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home.img img{
    width: 35vw;
}
.home-content{
    font-size: 3.2rem;
}

.home-content h1{
    color: var(--main-color);
    font-size:5.3rem;
    font-weight: 700;
    line-height: 6.5rem;
    
}

.home-content h1:nth-of-type(2){
    margin-bottom:3rem;
}

.home-content p {
    color: var(--main-color);
    font-size:2rem;
    font-weight: 400;
    text-align: justify;
    text-justify:inter-word;
    margin-bottom: 4rem;
}
span{
    color: var(--accent-color);
}

.btna{
    width: 24rem;
    padding: 1.5rem 2rem 1.5rem;
    font-size:16px;
    font-weight: 400;
    color: white;
    display: inline-block;
    text-align: center;
    background:var(--main-color);
    border-radius: 1rem ;
    margin-right: 1rem;
    transition: .5s ease;
}
.buttons :hover{
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--main-color);
}
.btnb{  
    width: 16rem;
    padding: 1.5rem 2rem 1.5rem;
    font-size:16px;
    font-weight: 400;
    color: var(--text-color);
    display: inline-block;
    text-align: center;
    background:var(--accent-color);
    border-radius: 1rem;
    transition: .5s ease;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4.5rem;
    height:4.5rem;
    background: transparent;
    border-radius: 50%;
    font-size: 3rem;
    color: var(--main-color);
    margin: 0.5rem 1.5rem 1rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--text-color);
}

.about-img img{
    width: 35vw;
    margin-right: 20rem;
}

.heading{
    text-align: center;
    color: #000;
}

.about-content h1{
    font-size: 5rem;
    font-weight: 700;
    color: #000;
    text-align: left;
    line-height: 6.5rem;
    justify-content: center;
}

.about-content p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: justify;
    justify-content: center;
    color: #000;
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.btn{
    width: 16rem;
    padding: 1.5rem 2rem 1.5rem;
    font-size:16px;
    font-weight: 400;
    color: var(--text-color);
    display: inline-block;
    text-align: center;
    background:var(--main-color);
    border-radius: 1rem;
    transition: .5s ease;

}

.btncv{
    width: 18rem;
    padding: 1.5rem 2rem 1.5rem;
    font-size:16px;
    font-weight: 400;
    color: white;
    display: inline-block;
    text-align: center;
    background:var(--accent-color);
    border-radius: 1rem ;
    margin-left: 1.5rem;
    transition: .5s ease;
}

.btn:hover{
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--main-color);
}

.btncv:hover{
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--main-color);
}


.services h2{
    font-weight: 700;
    font-size: 4.5rem;
}

.h3s{
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--main-color);
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.services-container .services-box{
    flex:1 1 30rem;
    background: var(--tertiary-color);
    padding: 4rem 4rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--tertiary-color);
    transition: .5s ease;
}

.services-box i{
    font-size: 10rem;
    margin-bottom: 1rem;
    color: var(--accent-color);

}

.services-box h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-color);
}

.services-box p{
    font-size: 2rem;
    margin: 1rem 0rem 10rem;
    font-weight: 400;
    color: #000;
    
}

.roundbtn{
    width: 16rem;
    padding: 1.5rem 2rem 1.5rem;
    font-size:16px;
    font-weight: 400;
    color: var(--text-color);
    display: inline-block;
    text-align: center;
    background:var(--main-color);
    border-radius: 5rem;
    transition: .5s ease;
}

.roundbtn:hover{
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--main-color);
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.10);
}

.heading{
    font-size: 4.5rem;
    font-weight: 700;
}

.portfolio h2{
    margin-bottom: 5rem;
    color: var(--main-color);
    
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1.05rem var (--main-color) ;
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width:100%;
    height: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 10rem;
    transform:  translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
    font-weight: 600;
}

.portfolio-layer p{
    font-size:1.5rem ;
    font-weight: 400;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;

}

.portfolio-layer a i {
    font-size: 3rem;
    color: var(--text-color);
}


.reach-out-form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.reach-out form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reach-out form .input-box input,
.reach-out form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--tertiary-color);
    border-radius: .8rem;
    margin: .7rem 0;

}

.reach-out form .input-box input{
    width: 49%;
}

.reach-out form textarea{
    resize: none;
}
.reach-out form .btn{
    margin-top: 2rem;
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--main-color);
}

.footer-text{
    font-size: 1.5rem;
    font-weight: 400;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--text-color);
    border-radius: .8rem;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--main-color);
}

.footer-iconTop a:hover{
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--text-color)
}

::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar track{
    background: var(--main-color);

}

::-webkit-scrollbar-thumb{
    background: var(--secondary-color);
    border-radius: 15px;
}

.h3{
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: var(--main-color);

}

.h3c{
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 5rem;
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:991px ){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .footer{
        padding: 2rem 3%;
    }
    .services{
        padding-bottom: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .reach-out{
        min-height: auto;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--text-color);
        border-top:.1rem solid rgba(0,0,0,.2);
        box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
        display:none
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin:3rem 0;
    }
    .home{
        margin-top: 5rem;
        flex-direction: column;
    }
    .home.img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }
    .about-img{
        width:25vw;
        height: 25vw;
        margin-top: 4rem;
    }

    .services h2{
        font-weight: 700;
        margin-bottom: 1rem;
        line-height: 5rem;
    }
    
    .portfolio h2{
        font-weight: 700;
        margin-bottom: 6rem;
        line-height: 5rem;
    }

    .portfolio h3{
        font-size: 2.5rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(1,1fr);
        gap: 2.5rem;
    }
    
    .reach-out h2{
        margin-bottom: 1rem;
        line-height: 4.2rem;
        font-weight: 700;
        font-size: 4rem;
    }

    .reach-out h3{
        font-size: 3rem;
    }

}

@media (max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .reach-out-form .input-box{
        width: 100%;
    }
}

@media (max-width:365px){
   .home-img img{
    width: 90vw;
   }
   .about-img img{
    width:90vw;
   }
}


